.notification{
    max-width: 400px;

    position: fixed;
    right:-400px;
    padding: 16px;
    visibility: hidden;
    opacity: 0;
    font-size: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    transition: all .8s;

}

.noti--pass {
    color: black;
    right: 0px;
    background-color: #ACD1AF;
    opacity: 1;

    visibility: visible;
}

.noti--fail {
    max-width: 400px;
    color: black;
    right: 0px;
    background-color: #F47174 ;
    opacity: 1;

    visibility: visible;
}

.noti--info {
    max-width: 400px;
    color: black;
    right: 0px;
    background-color: #EEEE9B;
    opacity: 1;

    visibility: visible;
}