body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #121213;
}

header{
    border-bottom: 1.5px solid rgb(44, 44, 44);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 16px;
    justify-content: space-between;
}

div {
    display:block;
}

#game {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: calc(100% - 50px);
    display: flex;
    flex-flow: column;
}

.player-info {
  display: flex;
}

#player1 {
  width: 70px;
  justify-content: flex-start;
}
#player2 {
  margin: auto;
  position: absolute;
  right: 35%;
}

.roomButtons{
  display:inline-flex;
}

.menu-left {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 70px;
    justify-content: flex-start;
}

.menu-right{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

#Points{
  margin-left: 20px;
}

.player {
  display:inline-block;
}

h2, h3 {
  color: white;
  font-weight: 700;
  font-size:15px;
  line-height:100%;
  letter-spacing: 0.01em;
  text-align: center;
  left:0;
  right:0;
  pointer-events: none;
}

header p {
  color: white;
  font-weight: 700;
  font-size:30px;
  line-height:100%;
  letter-spacing: 0.01em;
  text-align: center;
  left:0;
  right:0;
  pointer-events: none;
}
game-settings{
  display:grid;
  width: 150px;
  margin: auto;
}

.labels{
  color:white;
  font-weight: 700;
  font-size:15px;
  line-height:100%;
  letter-spacing: 0.01em;
  text-align: left;
  left:0;
  right:0;
  pointer-events: none;
  margin:10px;
}

header .title {
    color: white;
    font-weight: 700;
    font-size:37px;
    line-height:100%;
    letter-spacing: 0.01em;
    text-align: center;
    left:0;
    right:0;
    pointer-events: none;
}

#game game-keyboard #keyboard{
    margin: 0 8px;
    user-select: none;
}

.tile::before{
    content: '';
    vertical-align:center;
    display: inline-block;
    padding-bottom: 100%;
}

.tile{
    width: 55px;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: #ffffff;
    text-transform: uppercase;
    user-select: none;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-height: 600px) {
    .tile {
      font-size: 1rem;
      line-height: 1rem;
    }
  }



.tile[data-state='empty'] {
    border: 2px solid #3a3a3c;
  }

  .tile[data-state='tbd'] {
    background-color: #121213;
    border: 2px solid #565758;
    color: #ffff;
  }
  .tile[data-state='correct'] {
    background-color: #6aaa64;
  }
  .tile[data-state='present'] {
    background-color: #c9b458;
  }
  .tile[data-state='absent'] {
    background-color: #3a3a3c;
  }

  .tile[data-animation='pop'] {
    animation-name: PopIn;
    animation-duration: 100ms;
  }

#game .board-container .board .row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}



.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

#game game-keyboard .row{
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #818384;
    color: #ffffff;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 2px;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #818384;
    color: #ffffff;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

button[data-state='absent'] {
  background-color: #3a3a3c;
  color: #ffffff;
}

button[data-state='correct'] {
  background-color: #538d4e;
  color: #ffffff;
}

button[data-state='present'] {
  background-color: #c9b458;
  color: #ffffff;
}


.tile[data-animation='PopIn'] {
  animation-name: PopIn;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
}

@keyframes PopIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }

    40% {
      transform: scale(1.1);
      opacity: 1;
      
    }
  }
  .tile[data-animation='flip-in'] {
    animation-name: FlipIn;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
  }
  @keyframes FlipIn {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(-90deg);
    }
  }
  .tile[data-animation='flip-out'] {
    animation-name: FlipOut;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
  }
  @keyframes FlipOut {
    0% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0);
    }
  }
